* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.button {
  cursor: pointer;
}

body {
  background-color: rgb(20, 17, 24);
}

h2 {
  font-size: 76px;
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: auto;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 41px;
}

.main-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav_list .main-nav_item {
  margin-right: 50px;
}
.main-nav_list .main-nav_item:last-child {
  margin-right: 0;
}
.main-nav_list .main-nav_item .main-nav_link:hover {
  text-decoration: underline;
  color: #ed8be3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button {
  padding: 15px 25px;
  border-radius: 10px;
}
.button-empty {
  background: none;
  border: 2px solid rgb(255, 31, 138);
}
.button-empty:hover {
  border: 2px solid #ff6bc1;
  background: rgba(255, 169, 226, 0.1176470588);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-empty:active {
  border: 2px solid #651343;
  background: rgba(250, 128, 210, 0.4274509804);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.promo {
  margin-top: 45px;
  position: relative;
}
.promo_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo_title {
  width: 600px;
  margin-top: -10px;
}
.promo_descr {
  width: 315px;
  line-height: 27px;
}
.promo_btn {
  display: block;
  position: absolute;
  top: 190px;
  left: 240px;
}

.button-full {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3EEC), color-stop(142.73%, rgba(127, 52, 173, 0)));
  background: linear-gradient(180deg, #FF3EEC 0%, rgba(127, 52, 173, 0) 142.73%);
  border-radius: 10px;
  border: none;
}
.button-full:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd00e4), color-stop(142.73%, rgba(127, 52, 173, 0)));
  background: linear-gradient(180deg, #fd00e4 0%, rgba(127, 52, 173, 0) 142.73%);
}
.button-full:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#9d008d), color-stop(142.73%, rgba(127, 52, 173, 0)));
  background: linear-gradient(180deg, #9d008d 0%, rgba(127, 52, 173, 0) 142.73%);
}

.rare-NFTs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rare-NFTs_list .rare-NFTs_item {
  padding: 22px;
  width: 350px;
  height: 410px;
  background: radial-gradient(60.81% 29.27% at 50.14% 10.49%, rgba(234, 91, 219, 0.8) 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), radial-gradient(99.32% 47.8% at 49.86% 94.63%, #EA5BDB 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), -webkit-gradient(linear, left top, left bottom, from(#1B1B1B), to(#000000));
  background: radial-gradient(60.81% 29.27% at 50.14% 10.49%, rgba(234, 91, 219, 0.8) 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), radial-gradient(99.32% 47.8% at 49.86% 94.63%, #EA5BDB 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #1B1B1B 0%, #000000 100%);
  border-radius: 10px;
}
.rare-NFTs_list .NFTs_mt-210 {
  display: block;
  margin-top: 210px;
}
.rare-NFTs_list .NFTs_mt-38 {
  margin-top: 38px;
}
.rare-NFTs_list .NFTs_mt--135 {
  margin-top: -135px;
}
.rare-NFTs_list .rare-NTFs_wrapper {
  margin-top: 15px;
}
.rare-NFTs_list .rare-NFTs_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
}
.rare-NFTs_list .rare-NFTs_id, .rare-NFTs_list .rare-NFTs_id--checked {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rare-NFTs_list .id_checked-icon {
  margin-left: 6px;
}

.HFTs_ETH {
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.HFTs_ETH .NFTs_item--1 {
  position: absolute;
  top: -175px;
  right: 0;
}
.HFTs_ETH .NFTs_item--2 {
  margin-right: 114px;
}
.HFTs_ETH .ETH_color--pink {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  color: #EA5BDB;
}

.organizations {
  margin-top: 120px;
}
.organizations_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.organizations_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.organizations_icon {
  margin-right: 12px;
}
.organizations_name:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */