* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.button {
  cursor: pointer;
}

body {
  background-color: rgb(20, 17, 24);
}

h2 {
  font-size: 76px;
  font-weight: 700;
}

.container {
  width: 1140px;
  margin: auto;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 41px;
}

.main-nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-nav_list .main-nav_item {
  margin-right: 50px;
}
.main-nav_list .main-nav_item:last-child {
  margin-right: 0;
}
.main-nav_list .main-nav_item .main-nav_link:hover {
  text-decoration: underline;
  color: #ed8be3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button {
  padding: 15px 25px;
  border-radius: 10px;
}
.button-empty {
  background: none;
  border: 2px solid rgb(255, 31, 138);
}
.button-empty:hover {
  border: 2px solid #ff6bc1;
  background: rgba(255, 169, 226, 0.1176470588);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.button-empty:active {
  border: 2px solid #651343;
  background: rgba(250, 128, 210, 0.4274509804);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.promo {
  margin-top: 45px;
  position: relative;
}
.promo_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo_title {
  width: 600px;
  margin-top: -10px;
}
.promo_descr {
  width: 315px;
  line-height: 27px;
}
.promo_btn {
  display: block;
  position: absolute;
  top: 190px;
  left: 240px;
}

.button-full {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF3EEC), color-stop(142.73%, rgba(127, 52, 173, 0)));
  background: linear-gradient(180deg, #FF3EEC 0%, rgba(127, 52, 173, 0) 142.73%);
  border-radius: 10px;
  border: none;
}
.button-full:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fd00e4), color-stop(142.73%, rgba(127, 52, 173, 0)));
  background: linear-gradient(180deg, #fd00e4 0%, rgba(127, 52, 173, 0) 142.73%);
}
.button-full:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#9d008d), color-stop(142.73%, rgba(127, 52, 173, 0)));
  background: linear-gradient(180deg, #9d008d 0%, rgba(127, 52, 173, 0) 142.73%);
}

.rare-NFTs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.rare-NFTs_list .rare-NFTs_item {
  padding: 22px;
  width: 350px;
  height: 410px;
  background: radial-gradient(60.81% 29.27% at 50.14% 10.49%, rgba(234, 91, 219, 0.8) 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), radial-gradient(99.32% 47.8% at 49.86% 94.63%, #EA5BDB 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), -webkit-gradient(linear, left top, left bottom, from(#1B1B1B), to(#000000));
  background: radial-gradient(60.81% 29.27% at 50.14% 10.49%, rgba(234, 91, 219, 0.8) 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), radial-gradient(99.32% 47.8% at 49.86% 94.63%, #EA5BDB 0%, rgba(104, 64, 100, 0) 100%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #1B1B1B 0%, #000000 100%);
  border-radius: 10px;
}
.rare-NFTs_list .NFTs_mt-210 {
  display: block;
  margin-top: 210px;
}
.rare-NFTs_list .NFTs_mt-38 {
  margin-top: 38px;
}
.rare-NFTs_list .NFTs_mt--135 {
  margin-top: -135px;
}
.rare-NFTs_list .rare-NTFs_wrapper {
  margin-top: 15px;
}
.rare-NFTs_list .rare-NFTs_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 11px;
}
.rare-NFTs_list .rare-NFTs_id, .rare-NFTs_list .rare-NFTs_id--checked {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rare-NFTs_list .id_checked-icon {
  margin-left: 6px;
}

.HFTs_ETH {
  margin-top: -65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}
.HFTs_ETH .NFTs_item--1 {
  position: absolute;
  top: -175px;
  right: 0;
}
.HFTs_ETH .NFTs_item--2 {
  margin-right: 114px;
}
.HFTs_ETH .ETH_color--pink {
  font-weight: 700;
  font-size: 40px;
  text-transform: capitalize;
  color: #EA5BDB;
}

.organizations {
  margin-top: 120px;
}
.organizations_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.organizations_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.organizations_icon {
  margin-right: 12px;
}
.organizations_name:hover {
  text-decoration: underline;
}

.trading-HFTs {
  min-height: 750px;
  margin-top: 80px;
  position: relative;
}
.trading-HFTs_descr {
  margin-top: 14px;
  width: 480px;
  line-height: 27px;
}
.trading-HFTs_list {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.trading-HFTs_item {
  position: relative;
  width: 300px;
  height: 353px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: linear-gradient(90.38deg, #110e14 0.54%, rgba(0, 0, 0, 0) 50.35%), linear-gradient(270deg, #110e14 -4.58%, rgba(0, 0, 0, 0) 49.86%), radial-gradient(126.68% 60.98% at 46.7% 83.17%, #EA5BDB 0%, rgba(69, 47, 67, 0) 100%);
  margin-left: 54px;
}
.trading-HFTs_item:first-child {
  margin-left: 0;
}
.trading-HFTs_item--active {
  width: 350px;
  height: 410px;
}
.trading-HFTs_icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 5%;
}
.trading-HFTs_icon--active {
  top: -50px;
}
.trading-HFTs_btn {
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.recently-listed {
  margin-top: 80px;
}
.recently-listed_title {
  text-align: center;
  margin-bottom: 38px;
}
.recently-listed_descr {
  margin: 0 auto;
  width: 535px;
  text-align: center;
  line-height: 27px;
}
.recently-listed_list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recently-listed_item {
  width: 338px;
  height: 254px;
  border-radius: 10px;
}
.recently-listed_item--1 {
  background: radial-gradient(100% 367.85% at 0% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.recently-listed_item--2 {
  width: 338px;
  height: 405px;
  background: radial-gradient(207.73% 100% at 57.1% 100%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}
.recently-listed_item--3 {
  background: radial-gradient(100% 367.85% at 100% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
}
.recently-listed_icon {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}
.recently-listed_icon--1, .recently-listed_icon--3 {
  margin-top: -70px;
}
.recently-listed_icon--2 {
  margin-bottom: 64px;
}
.recently-listed_id {
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  margin-bottom: 23px;
}
.recently-listed_info {
  background: radial-gradient(142.75% 525.12% at 0% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  width: 276px;
  height: 74px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px 20px;
}
.recently-listed_info--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}
.recently-listed_info--wrapper:last-child {
  margin-bottom: 0;
}
.recently-listed_id--number {
  font-size: 16px;
  color: #F2F2F2;
  opacity: 0.8;
}

.create-sell {
  position: relative;
  margin-top: 127px;
}
.create-sell_title {
  font-size: 49px;
}
.create-sell_btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
.create-sell_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 78px;
}
.create-sell_item {
  width: 338px;
  height: 254px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
}
.create-sell_item--1 {
  background: radial-gradient(100% 367.85% at 0% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
}
.create-sell_item--2 {
  background: radial-gradient(207.73% 100% at 50% 100%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
}
.create-sell_item--3 {
  background: radial-gradient(100% 367.85% at 100% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
}
.create-sell_icon {
  display: block;
  margin: 0 auto;
  margin-top: -20px;
}
.create-sell_info--title {
  text-align: center;
  color: #F2F2F2;
  margin-top: 15px;
}
.create-sell_info--descr {
  width: 313px;
  text-align: center;
  margin: 0 auto;
  margin-top: 21px;
  line-height: 21px;
  font-size: 16px;
  color: rgba(242, 242, 242, 0.8);
}

.btn_all {
  background: radial-gradient(146.11% 537.47% at 100% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  padding: 17px 30px 17px 60px;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border-radius: 10px;
}
.btn_all:hover {
  background: radial-gradient(146.11% 537.47% at 100% 50%, rgba(255, 93, 239, 0.728) 0%, rgba(20, 17, 24, 0) 100%);
}
.btn_all:active {
  background: radial-gradient(146.11% 537.47% at 100% 50%, rgba(255, 93, 239, 0.288) 0%, rgba(20, 17, 24, 0) 100%);
}
.btn_all .btn_all--arrow {
  margin-left: 15px;
}

.footer {
  margin-top: 180px;
  background: #251F29;
  min-height: 284px;
  padding-top: 40px;
}
.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_title {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}
.footer_text {
  font-size: 16px;
  color: rgba(242, 242, 242, 0.8);
  margin-bottom: 30px;
}
.footer_input {
  border: 1.5px solid rgba(242, 242, 242, 0.2);
  border-radius: 10px;
  width: 250px;
  height: 45px;
  padding: 12px 15px;
  background: none;
}
.footer_links--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .links_list {
  margin-left: 140px;
}
.footer .links_title {
  color: #F2F2F2;
  margin-bottom: 17px;
}
.footer_link {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgba(242, 242, 242, 0.5);
}
.footer_link:hover {
  text-decoration: underline;
}

.btn_sign {
  background: radial-gradient(146.11% 537.47% at 100% 50%, rgba(234, 91, 219, 0.5) 0%, rgba(20, 17, 24, 0) 100%);
  -webkit-backdrop-filter: blur(18px);
          backdrop-filter: blur(18px);
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}
.btn_sign:hover {
  background: radial-gradient(146.11% 537.47% at 100% 50%, rgba(255, 93, 239, 0.728) 0%, rgba(20, 17, 24, 0) 100%);
}
.btn_sign:active {
  background: radial-gradient(146.11% 537.47% at 100% 50%, rgba(255, 93, 239, 0.288) 0%, rgba(20, 17, 24, 0) 100%);
}
.btn_sign .btn_sign--arrow {
  margin-left: 6px;
}/*# sourceMappingURL=style.css.map */